<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/d9099767d3.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <section class="header-uno">
            <div>
                <a href="./home.html"><img class="logo" src="\img\logo.jpeg" alt="logo"></a>
            </div>
            <section class="header-derecho">
                <section class="ul-and-shopping">
                    <ul>
                        <li class="item-nav-pricipal">CONTÁCTENOS</li>
                    </ul>
                    <div><button class="boton-shopping1" type="button"></button></div>
                </section>
                <form action="" class="input-header">
                    <label for="Buscar"></label>
                    <section class="arreglos-para-user">
                        <section class="barra-boton-busqueda">
                            <input class="input-header2" type="text" placeholder="Buscar" name="Buscar">
                            <div><button class="boton-busqueda1" type="button"></button></div>
                        </section>
                        <div><button class="boton-user" type="button"></button></div>
                    </section>
                </form>
            </section>
        </section>
        <section class="header-nav">
            <section class="burguer-and-menú">
                <div><button class="burguer-menu" type="button"></button></div>
                <p id="PalabraMenú">MENÚ</p>
            </section>
            <ul class="header-nav-items">
                <li class="items">ACCESORIO</li>
                <li class="items">CASCOS</li>
                <li class="items">MALETAS</li>
                <li class="items">DRYBAGS</li>
                <li class="items">PILOTOS</li>
                <li class="items">IMPERMEABLE</li>
                <li class="items">INTERCOMS</li>
                <li class="items">ESENCIALES</li>
                <li class="items">REPUESTOS</li>
                <li class="items">BLOG</li>
            </ul>
            <section class="shopping-busqueda">
                <div><button class="boton-busqueda" type="button"></button></div>
                <div><button class="boton-shopping" type="button"></button></div>
            </section>
        </section>
    </header>
</body>

</html>