main {
    font-family: 'Arial', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

img {
    width: 100%;
}


.botones .boton {
    background-color: black;
    width: 30%;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.articulos {
    color: white;
    border: black;
}

.articulo {
    margin-top: 1rem;
    background-color: rgb(158, 156, 156);
    border: solid 1px black;
}

.titulo {
    width: 70%;
    margin-left: 1rem;
}

.descripcion {
    width: 70%;
    margin-left: 1rem;
}

.cantidad {
    display: flex;
    height: max-content;
}

.suma {
    align-self: center;
    height: 1.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    margin-left: 1rem;
    width: 1.5rem;
}

@media (min-width:600px) {
    .articulo {
        display: flex;
        flex-direction: row;
    }

    .imagenes {
        width: 23vw;
    }

    .descripcion {
        flex-direction: column;
    }

    .titulo {
        text-align: center;
    }
}