:root {
    --primaryFont: 'Calibri', sans-serif;
    --secondaryFont: 'Lobster', cursive;
    --font-size: 1.438rem;
    --font-weight: lighter;
    --sm: 1rem;
    --md: 1.125rem;
    --lg: 1.125rem;
    --ssm: 0.75rem;
    --fondo: #666;
    --titulos: rgb(203, 199, 199);
    --parrafos: #1259c3;
    --botones: #666;
    --encabezado: black;
    --categorias: black;
}


body {
    background-color: var(--fondo);
}



header {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    font-family: var(--primaryFont);
    background-color: var(--encabezado);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}


.logo {
    width: 23vw;
    align-self: center;
}

.nav-bar ul {
    display: flex;
}

.nav-bar li {
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
}

.nav-bar a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--titulos);
    font-family: var(--primaryFont);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.search-bar {
    display: flex;
    opacity: 0.5;
    justify-content: flex-end;
}

#search {
    overflow: hidden;
    width: 20vw;
}


*/ .categorias {
    background-color: var(--categorias);

}

.categorias ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -2.5rem;
}

.categorias li {
    list-style: none;
    justify-content: space-between;
}

.categorias a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--titulos);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-right: 1rem;
    margin-left: 1rem;
}


.barras {
    text-align: center;
    font-size: 2rem;
    display: none;
}

.barras2 {
    color: white;
    background-color: var(--celeste);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.4rem;
    border-radius: 0.3rem;
}

footer {

    margin: 10px;
    font-family: var(--primaryFont);
    background-color: var(--encabezado);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.lodearriba {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--titulos);
}

h3 {

    font-weight: var(--font-weight);
}

h5 {

    font-weight: var(--font-weight);
}

.mascategorias {
    background-color: var(--categorias);
    font-size: var(--font-size);
    font-weight: var(--font-weight);

}

.categoriasen2columnas {
    display: flex;
    justify-content: flex-start;

}

.categoriasen2columnas ul {
    padding: 0%;
    margin: 0%;
    font-size: var(--font-size);
    font-weight: var(--font-weight);

}


.mascategorias li {
    list-style: none;
    margin: 20px;
    padding: 0%;
    margin-left: 0;
    font-weight: var(--font-weight);
}

.mascategorias a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--titulos);
    font-weight: var(--font-weight);
    font-size: 20px;

}

.lodeabajo {

    color: rgb(158, 156, 156);
    text-align: center;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.propagandita {

    width: 100%;


}

.anuncio {
    margin: 10px;
}

.tituloProductosInteres {
    text-align: center;
    background-color: black;
    color: var(--titulos);
    font-family: var(--primaryFont);

}



.cuadritos {
    border: solid 1px black;
    width: 200px;
    background-color: rgb(158, 156, 156);
    font-family: var(--primaryFont);
}

.imagen {
    margin: 10px;
    width: 180px;
    height: 180px;
}

h4 {
    color: black;
    margin: 10px;
    text-align: center;
    height: 90px;
    font-family: var(--primaryFont);

}

.verProdutos {
    margin: 10px;
    text-align: center;
}

.productosInteres {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cuadritos {
    margin: 10px;
}

.cuadritos button {
    margin-left: 50px;
    margin-bottom: 10px;
    color: rgb(203, 199, 199);
    background-color: black;
    font-family: var(--primaryFont);
}


.fa-cart-shopping {
    padding-top: 0.5rem;
}

@media (max-width:491px) {

    .categorias {
        display: none;
    }

    .barras {
        display: block;
    }
}


@media (max-width:620px) {

    header {
        justify-content: space-between;
    }

    .logo {
        width: 30vw;
    }

    .nav-bar ul {
        list-style: none;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: end;
        margin: 2px;
    }

    /* .search-bar {
        opacity: 0.5;
        margin-left: 10px;

    } */

    .nav-bar li {

        margin: 10px;
    }

    .categorias ul {
        display: flex;
    }

    .categorias li {

        list-style: none;
        justify-content: flex-start;
        margin: 5px;
        ;
    }

    .lodearriba {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        color: white;
        text-align: center;
    }

    .categoriasen2columnas {
        display: flex;
        justify-content: center;

    }
}