<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>Carrito Bikers</title>

    <body>
        <%- include('./partial/header.ejs') %>
            <main>
                <div class="botones">
                    <button type="button" class="boton">Carrito</button>
                    <button type="button" class="boton">Guardados</button>
                </div>

                <section class="articulos">

                    <section class="articulo">

                        <img src="img\casco.jpeg" alt="Casco negro" class="imagenes">

                        <section class="descripcion">
                            <h2 class="titulo">CASCO HAWK RS11</h2>
                            <p>CASCO INTEGRAL HAWK RS11 REVO SOPHIE talle M (58CM)</p>
                            <div class="cantidad">
                                <p>Cantidad</p><button class="suma">+</button><button class="suma">-</button>
                            </div>
                        </section>

                    </section>

                    <section class="articulo">

                        <img src="https://http2.mlstatic.com/D_NQ_NP_812208-MCO40517820689_012020-V.jpg" alt="Guantes"
                            class="imagenes">

                        <section class="descripcion">
                            <h2 class="titulo">GUANTES PROTECTORES</h2>
                            <p>GUANTES PROTECTORES PERFECTOS PARA PROTEGERTES DEL FRIO Y CAIDAS talle M</p>
                            <div class="cantidad">
                                <p>Cantidad</p><button class="suma">+</button><button class="suma">-</button>
                            </div>
                        </section>

                    </section>

                    <section class="articulo">

                        <img src="https://pigmalionmoto.com/wp-content/uploads/2018/06/CHAQUETA-ULTRALIGTH-LADO.jpg"
                            alt="Chaqueta" class="imagenes">

                        <section class="descripcion">
                            <h2 class="titulo">CHAQUETA DE CUERO</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum numquam dolor nam,
                                corporis
                                saepe animi distinctio doloribus. Sapiente voluptatem dolorum vitae ex explicabo,
                                dolores in
                                omnis perferendis ipsa! Quas, vel!</p>
                            <div class="cantidad">
                                <p>Cantidad</p><button class="suma">+</button><button class="suma">-</button>
                            </div>
                        </section>

                    </section>

                    <section class="articulo">

                        <img src="https://kojumotos.com/wp-content/uploads/2018/11/maletero-para-moto-2-cascos-kojumotos-8-Red.jpg"
                            alt="maletero" class="imagenes">

                        <section class="descripcion">
                            <h2 class="titulo">MALETERO</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati repellat illum
                                explicabo
                                sequi numquam, libero est harum voluptates, soluta ab atque dignissimos laudantium sunt,
                                commodi
                                voluptatibus debitis ratione saepe quam.</p>
                            <div class="cantidad">
                                <p>Cantidad</p><button class="suma">+</button><button class="suma">-</button>
                            </div>
                        </section>
                    </section>

                </section>


                <div class="botones"><button type="button" class="boton">Comprar</button></div>

            </main>

            <%- include('./partial/footer.ejs') %>
    </body>

</html>