<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>Bikers Club</title>

    <body>
        <!--//////////////////////////////////////////////////// inicio header ////////////////////////////////////////////////////////////-->
        <%- include('./partial/header.ejs') %>
            <!--//////////////////////////////////////////////////// inicio main ////////////////////////////////////////////////////////////-->
            <main>
                <section class="div-contenedorPrincipal">
                    <img src="https://img.remediosdigitales.com/ac7a19/crosshelmet-02/1366_2000.png" alt="">
                    <div class="div-contenedor-texto">
                        <h3 class="nombre-del-producto">Casco</h3>
                        <p class="contenedor-descripcionDelProducto">Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Soluta, impedit. Labore minus voluptatum quod laudantium atque, quidem soluta
                            expedita, quo numquam voluptatem facilis ex, ab et fugit eos eaque reiciendis.</p>
                        <p class="precio">$ 250.000</p>
                        <section class="cantidadYCarrito">
                            <button class="boton-carrito">Agregar al carrito</button>
                        </section>
                    </div>
                </section>
            </main>
            <!--//////////////////////////////////////////////////// final main ////////////////////////////////////////////////////////////-->
            <!--//////////////////////////////////////////////////// inicio footer /////////////////////////////////////////////////////////-->
            <%- include('./partial/footer.ejs') %>
    </body>

</html>