<footer>
    <section class="footer-seccion-1">
        <section class="footer-seccion-seccion">
            <div>
                <h3 class="footer-seccion-seccion-div-suscribete">SUSCRíBETE</h3>
                <p class="footer-seccion-seccion-div-novedades">Recibe las ultimas novedades en tu correo</p>
            </div>
            <div class="footer-seccion-seccion-div">
                <form action="" class="footer-seccion-seccion-div-form">
                    <input type="email" placeholder="  Introduzca su correo electronico"
                        class="footer-seccion-seccion-div-form-input">
                </form>
                <div>
                    <button class="footer-seccion-seccion-div-button">SUSCRIBIRSE</button>
                </div>
            </div>
        </section>
        <div class="siguenos-iconoRedesSociales">
            <h3 class="footer-seccion-siguenos"> SIGUENOS</h3>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </section>
    <section class="footer-seccion-2">
        <div class="footer-seccion-2-div-nuestraSede">
            <h3 class="footer-seccion-siguenos">NUESTRA SEDE</h3>
            <p class="parrafo-letraPequeña">Guarne - Antioquia - Colombia</p>
        </div>
        <div class="footer-seccion-2-div-Nosotros">
            <h3 class="footer-seccion-siguenos">NOSOTROS</h3>
            <p class="parrafo-letraPequeña">Contactanos</p>
            <p class="parrafo-letraPequeña">Ayuda pagos online</p>
            <p class="parrafo-letraPequeña">Distribuir nuestros productos</p>
            <p class="parrafo-letraPequeña">Terminos legales</p>
        </div>
        <div class="footer-seccion-2-div-pedidos">
            <h3 class="footer-seccion-siguenos">PEDIDOS</h3>
            <p class="parrafo-letraPequeña">Rastreo de pedidos</p>
            <p class="parrafo-letraPequeña">Disponibilidad de productos</p>
            <p class="parrafo-letraPequeña">Devoluciones y garantias</p>
            <p class="parrafo-letraPequeña">Pagos distribuidores</p>
        </div>
    </section>
</footer>
<div class="final-footer">
    <div class="div-parrafoFinal-footer">
        <p>Copyright 1999-2020 Accesorios motos - Todos los derechos reservados</p>
    </div>
    <img class="final-footer-img" src="https://www.fpmoto.com/pub/media/wysiwyg/pagos_v1.png"
        alt="medios de pago aceptados en fire parts">
</div>