<header>
    <section class="header-uno">

        <a href=" /"><img class="logo" src="\images\img\BB of grande_Mesa de trabajo 1.png" alt="logo"></a>

        <section class="header-derecho">
            <section class="ul-and-shopping">
                <ul class="CONTÁCTENOS">
                    <li class="item-nav-pricipal">CONTÁCTENOS</li>
                    <a href="\register" class="subrayado">
                        <li class="item-nav-pricipal">Sing-UP</li>
                    </a>
                    <a href="\login" class="subrayado">
                        <li class="item-nav-pricipal">Log-IN</li>
                    </a>
                </ul>
                <form action="\carrito"><button class="boton-shopping1" type="submit"></button></form>
            </section>
            <form action="" class="input-header">
                <label for="Buscar"></label>
                <section class="arreglos-para-user">
                    <section class="barra-boton-busqueda">
                        <input class="input-header2" type="text" placeholder="Buscar" name="Buscar">
                        <div><button class="boton-busqueda1" type="button"></button></div>
                    </section>
                    <div><button class="boton-user" type="button"></button></div>
                </section>
            </form>
        </section>
    </section>
    <section class="header-nav">
        <section class="burguer-and-menú">
            <div><button class="burguer-menu" type="button"></button></div>
            <p id="PalabraMenú">MENÚ</p>
        </section>
        <ul class="header-nav-items">
            <li class="items">ACCESORIO</li>
            <li class="items">CASCOS</li>
            <li class="items">MALETAS</li>
            <li class="items">DRYBAGS</li>
            <li class="items">PILOTOS</li>
            <li class="items">IMPERMEABLE</li>
            <li class="items">INTERCOMS</li>
            <li class="items">ESENCIALES</li>
            <a href="/anadir" class="añadir-producto-nav-header">
                <li class="items">AÑADIR PRODUCTOS</li>
            </a>
        </ul>
        <section class="shopping-busqueda">
            <div><button class="boton-busqueda" type="button"></button></div>
            <div><button class="boton-shopping" type="button"></button></div>
        </section>
    </section>
</header>